body {
    background: linear-gradient( to top, rgb(130, 179, 243), rgb(198, 131, 243) );
    width: 300px;
    height: 89.7vh;
    color: white;
    /* background-repeat: no-repeat; */
}

#main {
    height: 100%;
    position: absolute;
    left: 65px;
    width: calc(100% - 65px);
}
input {
    text-align: center;
    width: 200px;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
}

button {
    text-align: center;
    margin-left: 10%;
    color: white;
    width: 200px;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(94, 94, 250);
}

#desc {
    font-size: 15px;
}

#photo {
    background-image: url("img/warn-thermometer.png");
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-left: 60px;
    background-repeat: no-repeat;
}

#login {
    margin-top: 10px;
}
